#ctn-p1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Set the height to occupy the full viewport height */
    border: 2px solid black;
  }
  
h1{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
}