$primary-color: #3498db;
$secondary-color: #e74c3c;

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: darkgray; /* Agrega esta línea para cambiar el fondo */
}

ctn-text{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
header {
    background-color: $primary-color;
    color: white;
    padding: 20px;
    
    h1 {
        margin: 0;
    }
    
    nav ul {
        list-style: none;
        padding: 0;
        
        li {
            display: inline;
            margin-right: 20px;
            
            a {
                color: white;
                text-decoration: none;
            }
        }
    }
}


